
<ion-header>

  <ion-navbar>
    <ion-title>Shopping List</ion-title>
  </ion-navbar>

</ion-header>


<ion-content scroll="false" padding>
  <form #f="ngForm" *ngIf="ui.displayForm">
    <ion-list>
      <ion-item>
        <ion-label fixed>Name</ion-label>
        <ion-input
          type="text"
          name="name"
          [(ngModel)]="ingredient.name"
          required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Amount</ion-label>
        <ion-input
          type="number"
          name="amount"
          [(ngModel)]="ingredient.amount"
          required>
        </ion-input>
      </ion-item>
    </ion-list>
    <button
      (click)="addIngredient()"
      [disabled]="!ingredient.isValid()"
      ion-button
      type="submit">
      Add
    </button>
    <button
      (click)="ui.displayForm=false"
      ion-button>
      Hide
    </button>
  </form>
  <ion-fab top right edge>
    <button (click)="ui.displayForm=true" ion-fab mini><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <ion-list [ngClass]="{shoppingListShort: ui.displayForm==true}">
    <ion-item-sliding *ngFor="let ingredient of ingredients">
      <button ion-item>{{ingredient.name}} | {{ingredient.amount}}</button>
      <ion-item-options>
        <button (click)="removeIngredient(ingredient)" ion-button color="danger">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
    <p *ngIf="ingredients.length==0 && !ui.displayForm">No items yet.</p>
  </ion-list>

</ion-content>
