
<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button menuToggle ion-button icon-only>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button (click)="_displayForm=true" ion-button icon-only>
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Shopping List</ion-title>
  </ion-navbar>

</ion-header>


<ion-content scroll="false" padding>
  <form #f="ngForm" *ngIf="_displayForm">
    <ion-list>
      <ion-item>
        <ion-label fixed>Name</ion-label>
        <ion-input
          type="text"
          name="name"
          [(ngModel)]="_ingredient.name">
        </ion-input>
      </ion-item>
      <ion-item no-lines>
        {{_validatorSrv.messageFor('name')}}
      </ion-item>
      <ion-item>
        <ion-label fixed>Amount</ion-label>
        <ion-input
          type="number"
          name="amount"
          [(ngModel)]="_ingredient.amount">
        </ion-input>
      </ion-item>
      <ion-item no-lines>
        {{_validatorSrv.messageFor('amount')}}
      </ion-item>
    </ion-list>
    <button
      (click)="_addIngredient()"
      ion-button
      type="submit">
      Add New Ingredient
    </button>
    <button
      (click)="_displayForm=false"
      ion-button color="light">
      Close
    </button>
  </form>

  <ion-list [ngClass]="{shoppingListShort: _displayForm==true}">
    <ion-item-sliding *ngFor="let ingredient of _ingredients">
      <button ion-item  text-wrap>
        <ion-row>
          <ion-col text-left>
            {{ingredient.name}}
          </ion-col>
          <ion-col width-20 text-right>
            {{ingredient.amount}}
          </ion-col>
        </ion-row>
      </button>
      <ion-item-options>
        <button (click)="_removeIngredient(ingredient)" ion-button color="danger">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
    <p text-center *ngIf="_ingredients.length==0 && !_displayForm">No ingredients yet.</p>
  </ion-list>

</ion-content>
